<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DEMO</title>
</head>
<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.177.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.177.0/examples/jsm/",
			"cg-module": "{{ url_for('static', filename='cg-module.js') }}"
		}
	}
	</script>
	<script src="{{ url_for('static', filename='demo.js') }}" type="module"></script>
<body>
	
</body>
	<div>
		<label for="name">ชื่อเล่น: </label>
		<input type="text" id="name" placeholder="ชื่อเล่น..."><br>
		<label for="message">ข้อความ: </label>
		<input type="text" id="message" placeholder="ข้อความ..."><br>
		<button type="button" id="send">ส่ง</button>
	</div>
	<hr>
	<div>
		<h2>ข้อความที่ถูกบันทึกไว้ (Logs)</h2>
		<button type="button" id="reload">รีโหลด</button><hr>
		<div id="logs"></div>
	</div>
</html>